.about
  position: relative
  padding: 0
  .about-image
    span(2/3)
    img
      width: 100%
      height: auto
  .about-address
    span(1/3)
    //background: #5EC5FD
    //color: white
    text-align: center
    padding: 0 1em
  .about-title
    padding: 1em
    text-align: center