@import 'nib'
@import 'jeet'
@import 'mixins'
@import 'rupture'

global-reset()
wrapper()
  center(site-width)

//site wide
@import 'variables'
@import 'general'
@import 'fonts'
@import 'layout'
@import 'typography'
@import 'buttons'
@import 'utils'

//pages/partials
@import 'instagram'
@import 'header'
@import 'about'
@import 'news'
@import 'apartments'
@import 'find'
@import 'boka'