button
  padding: .8em 1.3em .8em 1.5em
  border: .15em solid $black
  background: none
  text-transform: uppercase
  color: $black
  font-family: font-form
  font-size: 1em
  letter-spacing: .04em
  margin: 1em
  transition(all, .4s, ease)
  &:hover
    color: white
    background: $black
  &.is-white
    color: white
    background: none
    border-color: white
    &:hover
      color: $black
      background: white
      border-color: white
  &:after
    content: ' ❯'
    margin-bottom: .3em