s3 = '/fonts/'

@font-face {
  font-family: 'HelveticaNeue-BoldCond';
  src: url(s3 +'HelveticaNeue-BoldCond.eot?#iefix') format('embedded-opentype'),  url(s3 +'HelveticaNeue-BoldCond.otf')  format('opentype'),
       url(s3 +'HelveticaNeue-BoldCond.woff') format('woff'), url(s3 +'HelveticaNeue-BoldCond.ttf')  format('truetype'), url(s3 +'HelveticaNeue-BoldCond.svg#HelveticaNeue-BoldCond') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url(s3 +'HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url(s3 +'HelveticaNeue-Bold.otf')  format('opentype'),
       url(s3 +'HelveticaNeue-Bold.woff') format('woff'), url(s3 +'HelveticaNeue-Bold.ttf')  format('truetype'), url(s3 +'HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url(s3 +'HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),  url(s3 +'HelveticaNeue-Roman.otf')  format('opentype'),
       url(s3 +'HelveticaNeue-Roman.woff') format('woff'), url(s3 +'HelveticaNeue-Roman.ttf')  format('truetype'), url(s3 +'HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

