html
  box-sizing: border-box
  color: $black

html, body
  height: 100%

button
  outline: 0
  padding: .5em 2em
  font-size: 1.4em
  text-transform: uppercase
  border: 0
  color: white
  background: $yellow
  cursor: pointer
  font-family: font-form
  &:hover
    background: $pink-light

img
  max-width: 100%

hr
  margin: 1em auto
  width: 100%
  border: none
  border-top: .15em solid $black

a
  text-decoration: none
  color: #1CBBF0

a:hover
  text-decoration: underline

*, *:before, *:after
  box-sizing: inherit

.hidden
  display: none

.container
  max-width: 800px
  margin: auto

.visible
  display: inherit

.vertical-align
  align(vertical)
  width: 100%

.spinner
  background-image: url('../img/spinner.gif')
  width: 48px
  height: 48px
  background-repeat: no-repeat
  margin: auto
  margin-top: 1em

.error
  margin-bottom: 1em

.cf
  cf()
