.wrapper
  cf()
  box-size: border-box
  max-width: 33em
  margin-left: auto
  margin-right: auto

.wrapper.is-wide
  max-width: 60em
  padding-left: 1em
  padding-right: 1em

.col2
  col(1/2)

.col4-6
  span(8/12, gutter: .5)

.col3-6
  span(7/12, gutter: .5)

.col1-6
  span(2/12, gutter: .5)

.col2-6
  span(3/12, gutter: .5)

section
  clear: both
  cf()
  line-height: 0

.section-title
  padding: 2em 1em
  width: 100%
  max-width: 800px
  border-top: .15em solid $black
  border-bottom: .15em solid $black
  margin:  1em auto 1em
  h1
    text-align: center
    color: $black
