scale = 0 400px 600px 700px 1080px

site-width = 1280px

$purple = #8243ad
$lightpurple = #A956E4
$teal = #00A68A
$blue = #80a1ff
$grey = #efebe6
$lightgrey = #EFEBE6
$black = #2d2d2d
$darkblue = #210061
$yellow = #FFDE03

$opacity = .65

$regular = 'InterstateRegular'
$bold = 'InterstateCompressedBold'
