extends ../layouts/default
include ../mixins/header

block facebook
  meta(property="og:site_name" content="Gamla Posten på Koster")
  meta(property="og:title" content="Gamla Posten")
  meta(property="og:type" content="article")
  meta(property="og:url" content="http://www.gamlaposten.se")
  meta(property="og:image" content="http://www.gamlaposten.se/img/facebook-og.jpg")
  meta(property="og:locale" content="sv_SE")
  meta(property="og:description" content="Upplev havet och lugnet mitt i hjärtat av nordkoster")

block content
  +header()
  include ../partials/news

  h1 Gamla Posten
  p Här kan man va

  h1 Om Koster
  p info

  h1 Historia
  p history yo

  h1 Länkar
  p Expidition koster
  p Tidtabell för kosteröarna
  p Kosteröarna

  h1 karta
  p bild på karta

  h1 hitta hit
  p info och google maps

  h1 lägenheter

  h2 Södra
  h2 Östra
  h2 Västra
  h2 Annexet

block head
  script(src='js/client.js')
