extends ../layouts/default
include ../mixins/header

block facebook
  meta(property="og:site_name" content="Gamla Posten på Koster")
  meta(property="og:title" content="Gamla Posten")
  meta(property="og:type" content="article")
  meta(property="og:url" content="http://www.gamlaposten.se")
  meta(property="og:image" content="http://www.gamlaposten.se/img/facebook-og.jpg")
  meta(property="og:locale" content="sv_SE")
  meta(property="og:description" content="Upplev havet och lugnet mitt i hjärtat av nordkoster")

block content
  +header()
  include ../partials/news
  include ../partials/about
  include ../partials/sodra
  include ../partials/find
  include ../partials/boka

block head
  script(src='js/client.js')
