section.about#historia
  .section-title
    h1 Historia
  .about-image
    img(src='/img/header-background.jpg')
  .about-address
    h4.bold Gamla Posten
    h5 Åleviksvägen 2
    h5 Västra Bryggan
    h5 Nordkoster
    h5 pg 649 47 67-4