section.boka#boka
  .container
    .boka-info
      h3 Bokningar
      p
        | Ring David på 073 062 54 32 eller maila to <a href='mailto:asdasd@asdasd.com'> david.sundberg@gmail.com </a>
      p Var gärna ute i god tid.
      p Under höst/vinter/vår kan vi hyra ut under längre tidsperioder och till lägre priser.
    .boka-info
      h3 Länkar
      p Färjornas Tidtabell
      p Kosteroarna.se
      p Någon Länk
      p Tryck här
    .boka-info
      h3 Address
      p Gamla Posten
      p Åleviksvägen 2
      p Västra Bryggan
      p Nordkoster
      p pg 649 47 67-4 

