section.find#hitta-hit
  .find-map
    h4 Google Maps Karta här
  .find-info
    h3 Hitta hit
    p Ta dig till strömstad.
    p
      | Åka färjan ut till koster, kolla <a href='#linkmissing'>Tidtabellen</a> här.
    p Gå av vid Västra Bryggan.
    p Gå upp den långa vägen tills du kommer till korsningen.