if data.news
  section.news#nyheter
    for article in data.news
      article
        h3 #{article.title}
        p.date #{article._.publishedDate.format('DD-MM-YYYY')}
        img(src='#{article._.image.fit(800,600)}')
        p !{article.content}
else
  h1 no news... :()