include ../mixins/social

section.signupthankyou
  h3(data-id='ambassador_thanks_header') !{copy.ambassador_thanks_header}
  p(data-id='ambassador_thanks_ingress') !{copy.ambassador_thanks_ingress}
  .thankyou-share
    +share-buttons("http://framtidenssocialtjanst.se/", copy.share_facebook_title, copy.share_twitter)
  p(data-id='ambassador_thanks_p') !{copy.ambassador_thanks_p}
  h3(data-id='ambassador_thanks_cta') !{copy.ambassador_thanks_cta}
.border-arrow
  .arrow
