section.apartment.sodra#sodra
  .section-title
    h1 Södra Lägenheten
  .apartment-col
    .apartment-image
    .apartment-info
      h3 Info
      p
        | <b>Storlek:</b> 84 kvm
      p 
        | <b>Pris:</b> 10,000 SEK per vecka
      p
        | <b>Bäddar:</b> 8
      hr
      p Denna ljusa och rymmliga lägenhet har dusch och sånt
  .apartment-col
    .apartment-info
      h3 Vardagsrummet
      p info
      p info
      p info
    .apartment-image
  .apartment-col
    .apartment-image
    .apartment-info
      h3 Badrummet
      p info
      p info
      p info