mixin header(page)
  header
    .menu
      a.menu-item Gamla Posten
      .menu-divider
      a.menu-item Nyheter
      a.menu-item Hitta hit
      a.menu-item Södra
      a.menu-item Östra
      a.menu-item Västra
      a.menu-item Annexet

  button Click Here

