mixin header(page)
  header
    .menu.is-transparent
      a.menu-item Gamla Posten
      .menu-divider
      a.menu-item Nyheter
      a.menu-item Hitta hit
      a.menu-item Södra
      a.menu-item Östra
      a.menu-item Västra
      a.menu-item Annexet
    .header-bg
      .header-tagline
        h1 Gamla Posten
        h3 Här kan man va
        button.is-white Boka Här

  button Click Here

