include ../mixins/flash-messages

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    
    block facebook

    title= title || 'Gammla Posten'
    link(rel="shortcut icon" href="/img/favicon.ico")
    link(rel="apple-touch-icon" href="/img/logo.png")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    link(href="/styles/app.css", rel="stylesheet")

    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
      link(rel="stylesheet" href="/css/medium-editor.min.css")
      link(rel="stylesheet" href="/css/default.min.css")

    //-[if lt IE 9]
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    //-[endif]

    block css

    block head

  body
    #fb-root

    +flash-messages(messages)
    
    block content

    include ../partials/footer.jade

    block js
  
      if user && user.canAccessKeystone

        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='/js/admin.js')
        script(src='/keystone/js/content/editor.js')

      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js')
